@font-face {
  font-family: 'montserratthin_italic';
  src: url('../fonts/font/montserrat-italic-variablefont_wght-webfont.woff2') format('woff2'),
       url('../fonts/font/montserrat-italic-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratthin';
  src: url('../fonts/font/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
       url('../fonts/font/montserrat-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'montserratthin';
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color:#60a5fa;
}

.left {
  flex: 1;
  min-width: 304px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-top: 20px;
}

.left-top > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.left-top {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.left-top div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
}

/* --------------------Toggle--------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  top: -3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------------------------------------- */

.left-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
  gap: 10px;
}

.location {
  text-align: center;
  font-size: 1.5rem;
}

.sunrise-sunset {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.sunrise, 
.sunset {
  display:flex;
  gap: 4px;
  align-items: center;
}

.left-bot {
  display: flex;
  flex-direction: column;
}

.temp {
  color: white;
  font-size: 4rem;
  font-weight: bolder;
}

.temp.c::after {
  content: "°C";
  font-size: inherit;
}

.temp.f::after {
  content: "°F";
  font-size: inherit;
}

.cond.active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  color: white;
}

.cond {
  display: none;
}

.right {
  flex: 4;
  display: flex;
  flex-direction: column;
  background-color:#bfdbfe;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-box {
  appearance: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px gray;
  padding: 4px;
  font-weight: bold;
}

#search-button {
  appearance: none;
  border: none;
  background: none;
}

#search-button:hover {
  transform: scale(1.1);
}

#search-button:active {
  opacity: 0.5;
}