@font-face {
  font-family: 'sinkin_sans200_x_light';
  src: url('../fonts/font2/sinkinsans-200xlight-webfont.woff2') format('woff2'),
       url('../fonts/font2/sinkinsans-200xlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'sinkin_sans200_x_light';
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color:#60a5fa;
}

.left {
  flex: 1;
  min-width: 304px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-top: 20px;
}

.left-top > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.left-top {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.left-top div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
}

/* --------------------Toggle--------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  top: -3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------------------------------------- */

.left-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
  gap: 10px;
}

.location {
  text-align: center;
  font-size: 1.5rem;
}

.sunrise-sunset {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.sunrise, 
.sunset {
  display:flex;
  gap: 4px;
  align-items: center;
}

.left-bot {
  display: flex;
  flex-direction: column;
}

.temp {
  color: white;
  font-size: 4rem;
  font-weight: bolder;
}

.c::after {
  content: "°C";
  font-size: inherit;
}

.f::after {
  content: "°F";
  font-size: inherit;
}

.cond.active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  color: white;
}

.cond {
  display: none;
}

.right {
  flex: 4;
  display: flex;
  flex-direction: column;
  background-color:#bfdbfe;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  gap: 10px;
  padding: 40px;
}

.right-top {
  flex: 2;
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.right-top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-top-header button {
  appearance: none;
  border: none;
  background-color: rgb(231, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 10px;
}

.right-top-header button:hover {
  transform: scale(1.1);
}

.right-top-header button:active {
  opacity: 0.5;
}

.right-mid {
  margin-bottom: 20px;
}

.right-mid, 
.right-bottom {
  flex: 1;
  display: flex;
  gap: 60px;
  padding: 10px;
  padding-top: 0;
  overflow-x: scroll;
}

.humidity, 
.wind, 
.precipitation, 
.uv-index, 
.feels-like, 
.chance-of-rain {
  flex: 0 0 auto;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 300px;
  min-height: 146px;
  gap: 5px;
}

.top {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bottom {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.bottom .bar {
  background: rgb(231, 229, 229);
  width: 30%;
  height: 20%;
  border-radius: 5px;
  padding-top: 10px;
}

.svg-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60a5fa;
  padding: 2px;
  border-radius: 10px;
}

#search-box {
  appearance: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px gray;
  padding: 4px;
}

#search-button {
  appearance: none;
  border: none;
  background: none;
}

#search-button:hover {
  transform: scale(1.1);
}

#search-button:active {
  opacity: 0.5;
}
